* {
  margin: 0;
  padding: 0;
}


.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #5dafb8;

}
.product-canvas {
  width: 80vw;
  height: 80vh;
  background:white;
  box-shadow:  10px 15px 15px 6px #3891b4;
  border-radius: 0px;
  margin-bottom:20px

}