* {
    margin: 0;
    padding: 0;
  }
  
.menu{
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 96px);
}

.menu ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding: 0; /*убираем левый отступ, равный 40px*/
    display: flex;
    gap: 16px;
    
}